

/* Home */
.img-container {
  position: relative;
  text-align: center;
  color: white;
}
.bg {
  max-width: 100%;
  max-height: 100vh;
  margin: auto;
}

.center-text {
  font-family: "Lucida Console", "Courier New", monospace;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Navigation */
.nav {
  background-color: rgb(193, 167, 131);
}

.nav .Nav.Link {
  color: red;
}

.success-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 30vh;
  padding-top: 0px; /* Add padding to the top */
}

.success-header {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.success-message {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.success-url {
  font-size: 1.2rem;
}

.sucess-return:link {
  color: black;
}

.sucess-return:hover {
  color: grey;
}
