

/* Navigation */
.nav {
  background-color: rgb(193, 167, 131);
}

.nav .Nav.Link {
  color: red;
}

.nav .logo {
  display: flex;
  align-items: center;
}

.nav .logo .logo-text {
  margin-left: 0.5rem;
}

.success-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 35vh;
  padding-top: 0px; /* Add padding to the top */
}

.success-header {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.success-message {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.success-url {
  font-size: 1.2rem;
}

.sucess-return{
  color: black;
}

.sucess-return:hover {
  color: grey;
}
